services:
  db:
    image: postgres:16
    container_name: crm_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: studentdb
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: crm_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@stdmgmt.com
      PGADMIN_DEFAULT_PASSWORD: pgadmin123
    ports:
      - "5052:80"
    depends_on:
      - db

volumes:
  postgres_data: